@model IPagedList<PujcovnaKnih.Models.BookModel>

@{
    ViewBag.Title = "Půjčené knihy";
}

@{ string[] condition = { "Půjčená", "K dispozici", "Žádost o půjčení", "Žádost o vrácení" }; }

@using PagedList.Mvc;
@using PagedList;

<h2>Seznam všech aktuálně zapůjčených knih</h2>

<p>
    @Html.ActionLink("Přidat knihu", "AddBook")
</p>

<p>
    @using (Html.BeginForm("ViewBooks", "Home", FormMethod.Get))
    {
        @Html.TextBox("search", "", new { placeholder = "Zadejte název knihy" })
        <input type="submit" name="submit" value="Hledat" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().PricePerDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Availability)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerDay)
            </td>
            <td>
                @condition[item.Availability]
            </td>

            @if (item.Availability == 0)
            {
                <td>
                    @Html.ActionLink("Vrátit knihu", "Return", new { id = item.Id })
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("ViewRentedBooks", "Home", new { page, search = Request.QueryString["search"] }))
